.car-card {
	border-radius: 16px 16px 0px 0px;
}

.arrow-container {
	border-radius: 0px 0px 16px 16px;
}

@media (min-width: 576px) {
	.car-card {
		border-radius: 16px 0px 0px 16px;
	}
}

@media (min-width: 768px) {
	.arrow-container {
		height: 110px;
		border-radius: 0px 16px 16px 0px;
	}

	.arrow-container .fa-caret-right {
		color: #9f9f9f;
		font-size: 40px;
	}
}

@media (min-width: 992px) {
	.service-info-content p {
		font-size: 14px;
	}
}

@media (min-width: 992px) {
	.service-info-content p {
		font-size: 14px;
	}
}
