.profile-header {
	background-color: #fff;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 16px;
	margin: 0px;
	padding: 10px;
}

.profile-header .profile-image {
	height: 80%;
	width: 80%;
}

.profile-header .profile-image img {
	border-radius: 50%;
}

.profile-header h2 {
	font-size: 16px;
	margin: 0px;
	margin-bottom: 10px;
	font-weight: bold;
}

.profile-header p {
	font-size: 12px;
	margin: 0px;
}

.profile-info .info-tab {
	background-color: #ffffff;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 16px;
}

.info-tab ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
}

.profile-info .info-tab li {
	list-style: none;
	cursor: pointer;
	padding: 10px 0px 10px 40px;
}

.info-tab .tab-active {
	background-color: #e9eff4;
}

.profile-info .info-container {
	background: #ffffff;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 16px;
}

.info-active {
	display: block;
}

.info-hide {
	display: none;
}

.profile-info .info-container input {
	font-size: 14px;
}

.button-custom {
	background-color: #ffffff;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 16px;
	color: #212529;
	text-decoration: none;
	padding: 10px 30px;
	cursor: pointer;
}

.button-custom:hover {
	color: #373e45;
}

@media (min-width: 768px) {
	.profile-header {
		padding: 20px;
		width: 98%;
	}

	.profile-header .profile-image {
		height: 90%;
		width: 90%;
	}

	.profile-header h2 {
		font-size: 25px;
	}
	.profile-header p {
		font-size: 16px;
	}

	.profile-info .info-tab {
		height: 400px;
	}

	.profile-info .info-tab ul {
		padding-top: 40px;
		font-size: 20px;
	}

	.profile-info .info-tab li:last-child {
		margin-top: 20px;
	}

	.profile-info .info-container {
		height: 400px;
		width: 98%;
	}

	.profile-info .info-container form {
		margin-top: 50px;
	}
}

.text-end {
    width: 98%;
}