.button-custom {
	background-color: #ffffff;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 16px;
	color: #212529;
	text-decoration: none;
	padding: 10px 30px;
	cursor: pointer;
	border: 0px;
}

.button-custom:hover {
	color: #373e45;
}
