products > .row::-webkit-scrollbar {
	-webkit-appearance: none;
}

.products > .row::-webkit-scrollbar:vertical {
	width: 11px;
}

.products > .row::-webkit-scrollbar:horizontal {
	height: 11px;
}

.products > .row::-webkit-scrollbar-thumb {
	border-radius: 8px;
	border: 2px solid #e9eff4; /* should match background, can't be transparent */
	background-color: rgba(0, 0, 0, 0.5);
}

.products > .row {
	display: flex;
	flex-wrap: nowrap;
	overflow-x: auto;
}